 <!-- ========== Start Footer Section ========== -->
      
 <footer>
    <div class="container grid grid-two--cols">
      <div class="footer-1--div">
        <div class="logo-brand">
          <a href="index.html" class="footer-subheading">Kushwaha IT Services</a>
        </div>
        <p>Let's create something new together</p>
     
      
        <div class="social-footer--icons">
        <a href="https://discord.gg/8FWaVF3a" target="_blank"><i class="fa-brands fa-discord"></i></a>
        <a href="https://www.instagram.com/pro_programming_hub/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/@Pro_programming_Hub" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-2--div">
        <p class="footer-subheading">Services </p>
          <ul>
             <li><a href="/services">Cloud Computing</a></li>
             <li><a href="/services">It Consulting</a></li>
             <li><a href="/services">App Development</a></li>
             <li><a href="/services">Web Development</a></li>
             <li><a href="/services">Cybersecurity</a></li>
          </ul
         
      </div>


      </div>
    </div>
  </footer>
    <!-- ========== End Footer Section ========== -->
   