 <!-- ========== Start NAV BAR Section ========== -->
 <header class="section-navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="#"><img src="/images/Free_Sample_By_Wix.jpg" alt="Kushwaha IT services ltd" width="65%"
        height="auto"</a>
      </div>

      <div class="navbar">
        <ul>

          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/services" class="nav-link">Service</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></li>  
          <!-- <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li> -->

        </ul>
      </div>
    </div>
   </header>
    <!-- ========== End NAV BAR Section ========== -->
