<% layout("/layout/boilerplate.ejs") %>

<section class="about-us">
    <div class="about">
      <img src="/images/brand.png" class="pic" />
      <div class="text">
        <h2>About Us</h2>
        <h5>Front-end Developer & <span>Designer</span></h5>
        <p>At Kushwaha IT Services, we are passionate about transforming ideas into impactful solutions. With a team of dedicated experts in research, design, and development, we blend creativity with technical prowess to deliver exceptional results. Our mission is to provide innovative and effective solutions that drive success for our clients. We pride ourselves on our collaborative approach, attention to detail, and commitment to exceeding expectations. Partner with us to experience a seamless journey from concept to completion and see your vision come to life!</p>
        <div class="data">
          <a href="/contact" class="hire">Hire Me</a>
        </div>
      </div>
    </div>
  </section>